<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.neilmiddleton.heroku-devcenter-search</string>
	<key>connections</key>
	<dict>
		<key>66A5E2D4-BF41-4AEF-89C1-B9510737E76C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0827BB1-0EFF-4395-AA02-A1C94FBE90C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8522F5DB-EE5D-4CFC-A410-DFDF344E3636</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D2B11A3-D8D0-4756-B39C-0B4128A4DEC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CE0E3B4C-B9E8-4470-B84C-C16F4069D29F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D3D3A35-DE98-4F11-A34B-E4BA6F813DA9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Neil Middleton</string>
	<key>description</key>
	<string>Search Heroku DevCenter</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Heroku DevCenter Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C0827BB1-0EFF-4395-AA02-A1C94FBE90C5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>dcc</string>
				<key>runningsubtext</key>
				<string>Searching DevCenter for matches…</string>
				<key>script</key>
				<string>/usr/bin/ruby ./search.rb "{query}"</string>
				<key>subtext</key>
				<string>Search for an article and copy the URL</string>
				<key>title</key>
				<string>Search DevCenter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>66A5E2D4-BF41-4AEF-89C1-B9510737E76C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>dc</string>
				<key>runningsubtext</key>
				<string>Searching DevCenter for matches…</string>
				<key>script</key>
				<string>/usr/bin/ruby ./search.rb "{query}"</string>
				<key>subtext</key>
				<string>Search for an article and open the URL</string>
				<key>title</key>
				<string>Search Devcenter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8522F5DB-EE5D-4CFC-A410-DFDF344E3636</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1D2B11A3-D8D0-4756-B39C-0B4128A4DEC1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>dcm</string>
				<key>runningsubtext</key>
				<string>Searching DevCenter for matches…</string>
				<key>script</key>
				<string>/usr/bin/ruby ./search.rb "{query}" --markdown</string>
				<key>subtext</key>
				<string>Search for an article and copy a markdown link</string>
				<key>title</key>
				<string>Search Devcenter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CE0E3B4C-B9E8-4470-B84C-C16F4069D29F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5D3D3A35-DE98-4F11-A34B-E4BA6F813DA9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1D2B11A3-D8D0-4756-B39C-0B4128A4DEC1</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5D3D3A35-DE98-4F11-A34B-E4BA6F813DA9</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>66A5E2D4-BF41-4AEF-89C1-B9510737E76C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8522F5DB-EE5D-4CFC-A410-DFDF344E3636</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C0827BB1-0EFF-4395-AA02-A1C94FBE90C5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CE0E3B4C-B9E8-4470-B84C-C16F4069D29F</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://www.neilmiddleton.com</string>
</dict>
</plist>
